/*
:root {
  --text:#333333;
  --text-h:#080808;
  --bg:#F2F1E8;
  --border:#080808;
  --code-bg:#FFFFFF;
  --accent:#0022FF;
  --accent-red:#FF0000;
  --accent-gold:#E6C229;
  --accent-bg:rgba(0,34,255,0.1);
  --accent-border:rgba(0,34,255,0.5);
  --social-bg:rgba(255,255,255,0.5);
  --shadow:
    rgba(0,0,0,0.15) 6px 6px 0px, rgba(0,0,0,0.05) 2px 2px 4px;

  --sans:"Inter",system-ui,'Segoe UI',Roboto,sans-serif;
  --heading:"Space Grotesk",system-ui,'Segoe UI',Roboto,sans-serif;
  --mono:"IBM Plex Mono",ui-monospace,Consolas,monospace;

  font:18px/145% var(--sans);
  letter-spacing:0.18px;
  color-scheme:light dark;
  color:var(--text);
  background:var(--bg);
  font-synthesis:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  @media(max-width:1024px){
    font-size:16px;
  }
}

@media(prefers-color-scheme:dark){
  :root{
    --text:#d5d5d5;
    --text-h:#ffffff;
    --bg:#111111;
    --border:#ffffff;
    --code-bg:#1a1a1a;
    --accent:#4169ff;
    --accent-bg:rgba(65,105,255,0.15);
    --accent-border:rgba(65,105,255,0.5);
    --social-bg:rgba(255,255,255,0.08);
    --shadow:
      rgba(0,0,0,0.5) 6px 6px 0px;
  }

  #social .button-icon{
    filter:invert(1) brightness(2);
  }
}

body{
  margin:0;
}

#root{
  width:1126px;
  max-width:100%;
  margin:0 auto;
  text-align:center;
  border-inline:2px solid var(--border);
  min-height:100svh;
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
}

h1,
h2{
  font-family:var(--heading);
  font-weight:700;
  color:var(--text-h);
}

h1{
  font-size:56px;
  letter-spacing:-2px;
  margin:32px 0;

  @media(max-width:1024px){
    font-size:36px;
    margin:20px 0;
  }
}

h2{
  font-size:24px;
  line-height:118%;
  letter-spacing:-0.4px;
  margin:0 0 8px;

  @media(max-width:1024px){
    font-size:20px;
  }
}

h3{
  font-size: 1.8rem;
  color:#080808;
}

button{
  font-size: 1.5rem;
  color: #E6C229;
  background: #080808;
  border-radius: 0.2rem;
}

p{
  margin:0;
}

code,
.counter{
  font-family:var(--mono);
  display:inline-flex;
  border-radius:0;
  border:2px solid var(--border);
  color:var(--text-h);
}

code{
  font-size:15px;
  line-height:135%;
  padding:6px 10px;
  background:var(--code-bg);
  box-shadow:var(--shadow);
}*/

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Silkscreen:wght@400;700&display=swap');

:root {
  /*Colour Styles*/
  --bg:#F9F5F1;

  --ink:black;
  --Antique-Blue:#3D5A80;
  --Terracotta:#E07A5F;
  --Sage:#7F9F7F;
  
  --Silkscreen: "Silkscreen",system-ui, -apple-system, sans-serif;
  --Nunito:"Nunito",system-ui, -apple-system, sans-serif;
}


h1, h2, h3, h4{
  font-family: var(--Silkscreen);
  font-weight: 400;
  color: var(--ink);
}

h5,h6{
  font-family: var(--Nunito);
  color: var(--ink);
  font-weight: 400;
  margin:0;
}

h1{font-size: 1.5rem;}
h2{font-size: 1.125rem;}
h3{font-size: 0.875rem;}
h4,h6{font-size: 1rem;}
h5{font-size: 1.25rem;}

input{
  border: 3px solid var(--ink);
  background-color: var(--Sage);
}

.cta-button{
  border: 3px solid var(--ink);
  background-color: var(--Terracotta);
  
  /*Font*/
  font-family: var(--Silkscreen);
  font-weight: 400;
  color: var(--ink);
  font-size: 1rem;

}